::v-deep.el-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .el-card__header,
    .el-card__footer {
        padding: 10px;
    }

    .el-card__body {
        flex: 1;
        overflow: hidden;
        padding: 10px;
    }

    .el-form-item {
        margin-bottom: 0;
    }
}