.file-explorer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;

  .command-bar {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;

    .command-group {
      display: flex;

      .el-icon {
        width: 30px;
        height: 30px;
        color: #999999;

        &:not(:last-child) {
          &:hover {
            color: #333;
          }
        }

        &:last-child {
          &:hover {
            background-color: #f2f2f2;
            border-radius: 5px;
          }
        }
      }

      .disabled {
        color: #dddddd;

        &:hover {
          color: #dddddd !important;
        }
      }
    }

    .command-button {
      padding: 4px 8px;
      border: 0;
      transition: background-color 0.2s, border-color 0.2s;

      &:hover {
        background-color: #f3f4f6;
        border-color: #c8c9cc;
      }
    }
    .path{
      flex: 2;
      display: flex;
      align-items: center;
      height: 32px;
      margin-left: 10px;
      overflow: auto;
      user-select: none;
      border: 1px solid #dcdfe6;
      border-radius: 5px;
      transition: all 0.1s;
      color: #67696d;
      padding: 0 8px;
      font-size: 12px;
      &:hover{
        border: 1px solid #c0c4cc;
      }
      .path-p {
        padding-left: 5px;
        border: 1px solid transparent;
        .el-icon{
          font-size: 8px;
        }
        &:hover{
          background-color: #e7f2fd;
        border: 1px solid #d1e7fd;
        cursor: pointer;
        }
      }
      span{
        height: 28px;
        line-height: 28px;
      }
    }
    .path-input {
      flex: 2;
      font-size: 12px;
      margin-left: 10px;
      padding: 0 8px;
    }

    .search-input {
      flex: 1;
      margin-left: 16px;
      font-size: 12px;
    }

    .view-mode-button {
      margin-left: 16px;
      padding: 4px 8px;
      border-radius: 4px;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      transition: background-color 0.2s, border-color 0.2s;

      &:hover {
        background-color: #f3f4f6;
        border-color: #c8c9cc;
      }
    }
  }

  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;

    .sidebar {
      width: 190px;
      background-color: #ffffff;
      border-right: 1px solid #e0e0e0;
      overflow-y: auto;
      padding: 12px 0;
      font-size: 13px;

      .navigation-pane {

        .quick-access-section,.file-tree-section {
          margin-bottom:10px;
          .active{
            background-color: #cce8ff!important;
            border: 1px solid transparent;
            .header-icon{
              opacity: 1!important;
            }
            &:hover{
             border: 1px solid #99d1ff;
            }
          }

          .section-header {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px 0 5px 5px;
            border: 1px solid transparent;
            &:hover {
              background-color: #e5f3ff;
              .header-icon{
                opacity: 1;
              }
            }
            .header-icon{
              opacity: 0;
              font-size: 10px;
              transition: opacity 0.5s;
              &:hover{
                color: #3eccf8;
              }
            }
            .inactive{
              color: #8597a6;
            }
          }

          .navigation-item {
            display: flex;
            align-items: center;
            padding: 5px 5px 5px 30px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: background-color 0.2s;

            &:hover {
              background-color: #e5f3ff;
            }

            .navigation-icon {
              margin-right: 8px;
            }

            .navigation-text {
              flex: 1;
            }
          }
        }
      }
    }

    .desk-outer {
      flex: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      position: relative;
      overflow-x: hidden;

      .desk-item {
        position: relative;
        cursor: default;
        box-sizing: border-box;
        width: 70px;
        height: 100px;
        background-color: rgba(119, 119, 119, 0);
        color: white;
        border: 1px solid rgba(0, 0, 0, 0);

        &.chosen {
          border: 1px dashed #3bdbff3d;
          background-color: #b9e3fd90;
        }

        &:hover {
          border: 1px solid rgba(149, 149, 149, 0.233);
          background-color: #b9e3fd5a;
        }
      }
    }

    .file-list-area {
      flex: 1;
      overflow-y: auto;

      .file-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-auto-rows: minmax(70px, auto);
        gap: 12px;
        padding: 16px;
        flex: 1;
        overflow-y: auto;
        align-content: start;

        .file-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6px;
          height: auto;
          cursor: pointer;
          border: 1px solid transparent;

          &:hover{
            background-color: #e5f3ff;
          }
          &.selected {
            background-color: #cce8ff;
            border: 1px solid #a8d7ff;
            transform: translateY(-2px);
          }

          .file-icon {
            margin-bottom: 3px;
          }

          .file-details {
            text-align: center;

            .file-name {
              font-size: 12px;
              font-weight: 500;
              color: #323130;
              white-space: normal; // 允许换行
              word-break: break-all; // 确保长单词或 URL 可以换行
              max-width: 100%; // 设置最大宽度
            }

            .file-type {
              font-size: 12px;
              color: #605e5c;
            }
          }
        }
      }

      .file-list-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 8px;
        flex: 1;
        overflow-y: auto;

        .file-item {
          display: flex;
          align-items: center;
          padding: 3px 12px;
          cursor: pointer;
          border: 1px solid transparent;

          &:hover{
            background-color: #e5f3ff;
          }
          &.selected {
            background-color: #cce8ff;
            transform: translateY(-2px);
            border: 1px solid #a8d7ff;
          }

          .file-icon {
            margin-right: 12px;
          }

          .file-details {
            display: flex;
            flex-direction: column;

            .file-name {
              font-size: 14px;
              font-weight: 600;
              color: #323130;
            }

            .file-type {
              font-size: 12px;
              color: #605e5c;
            }
          }
        }
      }
    }

    .context-menu {
      position: absolute;
      background-color: #ffffff;
      border: 1px solid #e1e1e1;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      border-radius: 4px;
      padding: 4px 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 8px 12px;
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #333;

          &:hover {
            background-color: #f0f0f0;
          }

          &:not(:first-child) {
            border-top: 1px solid #e1e1e1;
          }
        }
      }
    }
  }
}
/* 禁用文本选择 */
.no-select {
  user-select: none; /* 标准语法 */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}