.context-menu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
    padding: 4px 0;
  }
  
  .context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
  }
  
  .context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    position: relative;
  }
  
  .context-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .context-menu li+li {
    border-top: 1px solid #e1e1e1;
  }
  
  .context-menu li:first-child {
    border-top: none;
  }
  
  .context-menu li .el-icon {
    margin-right: 8px;
  }
  
.has-submenu {
  position: relative;
}

.sub-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px;
  left:126px;
  z-index: 1000;
  display: none;
}

.sub-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.sub-menu li {
  cursor: pointer;
  padding: 8px 12px;
}

.sub-menu li:hover {
  background-color: #f0f0f0;
}
.sub-menu li+li {
  border-top: 1px solid #e1e1e1;
}
.sub-menu li svg,.sub-menu li .el-icon {
  margin-right: 8px;
}
/* 当 activeSubMenu 为 'newFile' 时显示子菜单 */
.context-menu .has-submenu .sub-menu {
  display: block;
}