.desktop-area {
  width: 100%;
  height: 100%;
  position: relative;
}

.desktop-icons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  height: calc(100vh - 48px);

  .desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    width: 78px;
    height: 78px;
  }

  .desktop-icon:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .icon-name {
    text-align: center;
    color: transparent;
    margin-top:5px;
    text-shadow: 0 0 0.5px white, 0 0 1px black, 0 0 2px rgba(0, 0, 0, 2);
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .desktop-icon.selected {
    background: rgba(255, 255, 255, 0.2);
  }
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  gap: 12px;
  padding: 16px;
  flex: 1;
  overflow-y: auto;
  align-content: start;

  .desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    height: auto;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      background-color: #e5f3ff;
    }

    &.selected {
      background-color: #cce8ff;
      border: 1px solid #a8d7ff;
      transform: translateY(-2px);
    }
  }
  .icon-name {
    margin-top:5px;
    text-align: center;
    font-size: 0.8rem;
  }
}

.file-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  flex: 1;
  overflow-y: auto;

  .desktop-icon {
    display: flex;
    align-items: center;
    padding: 3px 12px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover{
      background-color: #e5f3ff;
    }
    &.selected {
      background-color: #cce8ff;
      transform: translateY(-2px);
      border: 1px solid #a8d7ff;
    }

    .icon-name {
      margin-left: 8px;
      font-size: 0.8rem;
    }

  }
}

.rect {
  position: absolute;
  border: 1px dashed #007bff;
  background: rgba(0, 123, 255, 0.1);
  pointer-events: none; // 确保框选区域不影响其他元素的交互
  z-index: 9999;
}
/* 禁用文本选择 */
.no-select {
  user-select: none;
  /* 标准语法 */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; // 添加相对定位

  svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .ln-img,
  .lock-img,
  .fav-img,
  .share-img {
      position: absolute; // 保留绝对定位，但调整位置
      border-radius: 3px; // 添加圆角边框
  }

  .ln-img {
      bottom: 0;
      right: 0;
      background-color: #FFF;
  }

  .lock-img {
      bottom: 0;
      left: 0; // 调整位置
      background-color: #f0f0f0;
  }

  .fav-img {
      top: 0; // 调整位置
      left: 0;
      background-color: #d7acac;
  }

  .share-img {
      top: 0; // 调整位置
      right: 0; // 调整位置
      background-color: #ffff00;
  }
}