* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
  }

  .desktop {
    height: calc(100vh - 48px);
    background-size: cover;
    background-position: center;
    position: relative;
    user-select: none;
    /* 标准语法 */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }

  .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 119, 210);
    user-select: none;
  }

  #text {
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80%;
    color: azure;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .desktop {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 768px) {
    .desktop{
      height: 100vh;
    }
  }