.setting-item-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
    .el-icon {
        cursor: pointer;
    }
}
.settings {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.search {
    width: 100%;
    margin-bottom: 20px;
}

.el-menu-item {
    background-color: transparent;
    height: 35px;
}
.el-menu-item.is-active {
    border-left: 2px solid #409eff;
}
.menu {
    background-color: transparent;
    border: none;
}

.content {
    flex-grow: 1;
    width: 600px;
    padding: 10px;
}

.content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-menu {
    border: none;
    background-color: transparent;
}

.content-menu-item {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    height: 60px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .child-icon {
        font-size: 20px;
    }
    .content-menu-item-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.menu-item {
    gap: 5px;
    font-size: 14px;
    .icon-menu-item {
        font-size: 16px;
        width: 20px;
    }
}

.menu-item:hover {
    background-color: #f0f2f5;
}